/*------------------------------------*\
  #MAIN
\*------------------------------------*/

.main {
    display: flex;
    overflow-y: hidden;
    flex-basis: 100%;
}

/*  LEFT SIDE */
.left-side {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
    background-color: #1f2637;
    overflow-y: auto;
}
.add-book {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: #1f2637;
    border-bottom: 1px solid #141824;
    border-top: 1px solid #141824;
    flex-shrink: 0;
}
.add-book__button {
    align-items: center;
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #f2795a;
    color: #fff;
    box-shadow: none;
    border: none;
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: background .4s;
    cursor: pointer;
}
.add-book__text {
    padding-left: 15px;
}
.add-book__button:hover {
    background-color: #15a4fa;
}
.nav-menu {    
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 0.75em;
    color: #78829d;
    height: 245px;
    border-bottom: 1px solid #141824;
    background-color: #1f2637;
    box-shadow: 0 7px 2px -2px #19202e;
    margin-bottom: 5px;
}
.nav__item {
    list-style: none;
    height: 36px;
    padding: 10px 0 0 20px;
    text-transform: capitalize;
    cursor: pointer;
}
.nav__item:not(.nav__item_selected):hover {
    color: #fff;
    background-color: #566b95;
}
.nav__item_selected {
    color: #fff;
    background-color: #15a4fa;
}
.nav__text {
    padding-left: 10px;
}
.category {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    height: 180px;    
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 0.75em;
    margin-bottom: 5px;
    border-top: 2px solid #282f41;
    border-bottom: 1px solid #141824;
    color: #78829d;
    background-color: #1f2637;
    box-shadow: 0 7px 2px -2px #19202e;
}
.category__item {
    list-style: none;
    height: 35px;
    padding: 10px 0 0 23px;
    text-transform: capitalize;
}
.category__item:hover {
    cursor: pointer;
}
.category__text:before {
    content: '';
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;    
    background-color: #e64c66;
    margin-right: 12px;
}
.category__item:nth-child(2) .category__text:before{
    background-color: #ffab00;
}
.category__item:nth-child(3) .category__text:before{
    background-color: #00bfdd;
}
.category__item:nth-child(4) .category__text:before{
    background-color: #7874cf;
}

/* Notifications */
.notification {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 0.65em;
    color: #78829d;
    border-top: 2px solid #282f41;
    background-color: #1f2637;
}
.notification__item {
    position: relative;
    padding: 35px 20px 0 40px;
}
.notification__item:before {    
    position: absolute;
    left: 20px;
    content: '\f017';
    font-size: 1.2em;        
    font-family: FontAwesome;
}
.notification__paragraph {
    padding-bottom: 10px;
}

.notification__action {
    text-decoration: none;
    color: #97b3ce;
    text-transform: capitalize;
}
.notification__action:hover {
    text-decoration: underline;
    cursor: pointer;    
}
.notification__time {
    font-family: Proxima Nova Light, Arial, sans-serif;    
}

/* History */
.history {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 1em;
    color: #78829d;
}
.history__item {
    position: relative;
    padding: 35px 20px 0 55px;
}
.history__item:before {    
    position: absolute;
    left: 20px;
    content: '\f017';
    font-size: 1.5em;        
    font-family: FontAwesome;
}
.history__paragraph {
    padding-bottom: 10px;
}

.history__action {
    text-decoration: none;
    color: #556aa6;
    text-transform: capitalize;
}
.history__action:hover {
    text-decoration: underline;
    cursor: pointer;    
}
.history__time {
    font-family: Proxima Nova Light, Arial, sans-serif;    
}

/* Add book modal window */
.add-book-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.add-book-window__content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    width: 400px;
    min-width: 200px;
    max-width: 500px;
    height: 250px;
    min-height: 200px;    
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.add-book-window__header {
    width: 100%;
    height: 35px;
    background-color: #2f364a;
}
.add-book-window__close {
    padding-right: 5px;
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.add-book-window__close:hover {
    color: #ccc;
    cursor: pointer;
}
.add-book-window__title {
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 1em;
    padding: 8px 0 0 10px;
    float: left;
    color: #fff;
    text-transform: uppercase;
}
.add-book-window__form {    
    margin: 20px 15px 0;    
}
.add-book-window__inputs-fields {
    width: 100%;
    height: 100px;
    margin: 0 0%;
}
.add-book-window__row{        
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-bottom: 10px;
}
.add-book-window__input {
    width: 235px;
    height: 30px;
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 1em;
}
.add-book-window__input-file {
    margin: 10px auto;
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 1em;
}
.add-book-window__label {
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 1em;
}
.add-book-window__button-field {    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
}
.add-book-window__button {     
    width: 160px;
    height: 30px;    
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #f2795a;
    color: #fff;
    box-shadow: none;
    border: none;
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: background .4s;
    cursor: pointer;
}
.add-book-window__text {
    padding-left: 15px;
}
.add-book-window__button:hover {
    background-color: #15a4fa;
}
.add-book-window__text-success,
.add-book-window__text-error {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    min-width: 200px;
    height: 40px;   
    background-color: #fefefe;
    text-align: center;
    padding-top: 10px;
    font-family: Proxima Nova Regular, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold; 
    animation-name: animateInOut;
    animation-duration: 3s;   
    animation-fill-mode: forwards;
}
.add-book-window__text-success {
    color: green;
}
.add-book-window__text-error {    
    color: red;
}
@keyframes animateInOut {
    0% {top: -50px; opacity: 0}
    10% {top: 0; opacity: 1}
    80% {top: 0; opacity: 1}
    100% {top: -50px; opacity: 0}
}