* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
}
/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
    background-color: #2f364a;
    flex-basis: 10%;
}
.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.header__item {
    padding: 0 12px;
}
.header__dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #1f2635;    
}
.header__link {
    color: #78829d;
    text-decoration: none;
    text-transform: capitalize;
}
.header__profile {
    
}
header__profile_online {
    background-color: #15a4fa;
}
/*------------------------------------*\
  #MAIN
\*------------------------------------*/

.main {
    display: flex;
    overflow-y: hidden;
    flex-basis: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: #1f2637;
}
.search-panel {
    background-color: #eef1f7;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.book {
    overflow-y: scroll;
    overflow-x: hidden;
}
.book__author {
    
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
    display: flex;
    flex-basis: 10%;
    background-color: #181e2c;
}