* {
    padding: 0px;
    margin: 0px;
}
table {   
    font-family: "Arial",sans-serif;
    font-size: .9em;
    padding: 3px 2px;
    margin: 0px 1px;
}
th {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .78em;
    color: #92939c;
    padding: 6px 2px;
}
td {
    padding: 17px 15px;
    background-color: #f1f4f9;
    color: #51577d;
}
th, tr:nth-child(odd) td {
    background-color: #e6eaf2;
}
tr td:first-child {
    text-transform: capitalize;    
}
tr:hover td{
    background-color: #dfe1e6;
}