* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.article-block {
    width: 100vw-5px;
    height: auto;
    margin: 3px 4px;
    padding: 9px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 8px #a0dcce, inset 0 0 0 9px #5dc8b1, 0 0 0 2px #6da99a; 
    font-family: "Arial", sans-serif;
    background-color: #e9eadb;
}
.header {
    position: relative;
    height: 32px;
    background: linear-gradient(to bottom, #f3d812, #f3bd10);    
    padding: 6px 0 0 10px;
}
.header:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    top: 32px;
    left: 10px;
    border: 10px solid transparent;
    border-top-color:  #f3bd10;
}
.article-block p {
    font-size: 0.8em;
    color: #828b9d;
    margin: 12px 5px 12px 10px;
}