* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    width: 100vw;
}
.nav-panel{
    margin: 7px;
    min-width: 410px;
    height: 30px;
    background-image: url("bg.png");
    background-position: center;
    background-size: cover;
}
.nav-panel div{
    position: relative;
    height: 100%;
    width: 30px;
    float: left;
    margin-right: 2px;
    background-color: rgba(73, 112, 171, 0.8);
    background-position: 8px 50%;
    background-size: 14px;
    background-repeat: no-repeat;    
}
.nav-panel span {
    position: absolute;
    padding: 4px;
    min-width: 17px;
    top: 6px;
    left: 22px;
    color: #fff;
    font-size: 0.5em;
    text-align: center;
    border-radius: 50%;
    background-color: #e61926;
}
.nav-panel div:hover{
    background-color: #d3333b;
}
div.mail {
    background-image: url(icons/mail.png); 
    width: 48px;
}
div.page {
    background-image: url(icons/page.png);
    width: 67px;
}
div.user {
    background-image: url(icons/user.png);
    width: 45px;
}
div.flag {
    background-image: url(icons/flag.png);
}
div.checked {
    background-image: url(icons/checked.png);
}
div.refresh,
div.widget,
div.exit {
    float: right;    
}
div.refresh {
    background-image: url(icons/refresh.png);
}
div.widget {
    background-image: url(icons/widget.png);
}
div.exit {
    width: 100px;
    background-image: url(icons/exit.png);
    background-color: #000;
    background-position: 90% 50%;
    color: #fff;
    padding: 7px 23px;
    margin-right: 0px;
    font-size: 0.8em;
}